.mains{

    // background-color: red;
    // min-height: 40vh;
    
}
    .two-column-single-div {
  display: flex;
  // background-color: hwb(0 16% 65%);
  justify-content: space-between;
  align-items: center;
  height: 14vh;
}



.column1 {
    // background-color: red;
    display: flex;
    flex-direction: column;
    font-size: .9rem;
    >p{
        // background-color: hotpink;
        font-size: .8rem;
        padding:0 .3rem;
        color: rebeccapurple;
        margin-top:.5rem;
        font-weight: 600;
    }
}

.two-column-single-div .column1 {
  padding: 20px;
}

.two-column-single-div button {
  padding: 7px 15px;
  border-radius: 50px;
  font-weight: 500;
//   margin:4px 13px;
  color: hwb(0 100% 0%); /* Match background color */
//   color: rgb(36, 20, 20); /* Text color */
  border: none;
  cursor: pointer;
  outline: none;
  background-color: black;
  margin-right: 1rem;
}

.two-column-single-div button:hover {
  background-color: #b9dbff; /* Lighter shade for hover */
}



 p{
    // background-color: forestgreen;
    font-size: 2.3rem;
    background-color: gainsboro;
    padding: 0 1rem;
    font-weight: 600;
    color: rgba($color: #e07777, $alpha: 1.0);
    padding:3rem 0 3rem 0;
}
