<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="/stylesheets/mainPage.css">
        <link href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">

        <style>
            body {
                background-color: #efefef;
            }
        </style>
    </head>

    <body>
        <div class="flex p-3 items-center bg-gray-100 justify-between px-6 lg:px-10">
            <div><p class="font-bold text-md lg:text-xl   text-red-500"><a href="/">Food<span class="text-black">King</span</a></p></div>
            <div class="flex text-xs lg:text-lg  items-center gap-3 lg:gap-5">
                <p class="hover:text-blue-500"><a href="/">Home</a></p>
                <p class="hover:text-blue-500"><a href="/recipies">Recipies</a></p>
                <p class="hover:text-blue-500"><a href="/add">Add</a></p>
            </div>
        </div>

        <div class="flex w-full space-x-1 lg:space-x-4 -mb-3 items-center justify-center h-[400px] lg:h-full">
            <div class="flex items-center justify-center w-9 h-28 lg:w-24 lg:h-60 border-red-500 border-[2.2px]  border-black rounded-full"></div>

            <div class="flex flex-col items-center -space-y-7 lg:-space-y-14 font-thin text-[50px] lg:text-[120px]">
                <div class="flex items-center bg-red-00">
                    FO
                    <div class="inline-block w-20 h-10 lg:w-80 lg:h-20 border-4 border-black rounded-full mx-1 border-[2.5px]  border-purple-600"></div>
                    D
                </div>
                <div class="flex items-center bg-red-00">
                    M
                    <div class="inline-block w-20 h-10 lg:w-80 lg:h-20 border-4 border-black rounded-full mx-1 border-[2.5px] border-green-500"></div>
                    OD
                </div>
            </div>

            <div class="flex items-center justify-center w-9 h-28 lg:w-24 lg:h-60 border-yellow-500 border-[2.4px]  border-black rounded-full"></div>
        </div>

        <div class="flex flex-col p-4 items-center justify-center gap-3 hidden lg:block">
            <div class="flex w-full items-center justify-center gap-3">
                <div class="p-6 bg-green-100 rounded-full">
                    <img class="h-16" src="https://cdn.pixabay.com/photo/2023/07/16/20/49/ai-generated-8131440_1280.png" alt="">
                </div>
                <div class="p-6 bg-red-200 rounded-full">
                    <img class="h-16" src="https://cdn.pixabay.com/photo/2024/12/07/04/32/chef-9250118_1280.png" alt="">
                </div>
                <div class="flex p-1 px-5 bg-blue-200 justify-between text-gray-800 items-center w-[370px] rounded-full">
                    <div class="px-10">
                        <p class="text-xl">Apple Pie</p>
                        <p class="text-xl">Chilly Spot</p>
                    </div>
                    <div class="p-6 bg-yellow-100 rounded-full">
                        <img class="h-16" src="https://cdn.pixabay.com/photo/2014/04/03/10/44/sandwich-311262_1280.png" alt="">
                    </div>
                </div>
                <div class="p-6 bg-purple-200 rounded-full">
                    <img class="h-16" src="https://cdn.pixabay.com/photo/2022/10/06/22/22/pizza-7503664_1280.png" alt="">
                </div>
            </div>

            <div class="flex w-full items-center justify-center gap-3 pt-2">
                <div class="p-6 bg-slate-200 rounded-full">
                    <img class="h-16" src="https://cdn.pixabay.com/photo/2021/07/28/23/29/sushi-6505074_1280.png" alt="">
                </div>
                <div class="flex p-1 px-5 bg-purple-100 justify-between items-center text-gray-800 w-[370px] rounded-full">
                    <div class="p-6 bg-yellow-100 rounded-full">
                        <img class="h-16" src="https://cdn.pixabay.com/photo/2017/02/01/11/19/cartoon-chips-2029737_1280.png" alt="">
                    </div>
                    <div class="px-10">
                        <p class="text-xl">Sweet Lava</p>
                        <p class="text-xl pt-2">Burger King</p>
                    </div>
                </div>
                <div class="p-6 bg-red-100 rounded-full">
                    <img class="h-16" src="https://cdn.pixabay.com/photo/2020/06/17/12/33/watermelon-5309308_1280.png" alt="">
                </div>
                <div class="p-6 bg-blue-100 rounded-full">
                    <img class="h-16" src="https://cdn.pixabay.com/photo/2024/02/26/13/18/hamburger-8597939_1280.png" alt="">
                </div>
            </div>
        </div>

    </body>
</html>
